
@tailwind base;
@tailwind components;
@tailwind utilities;



header {
    
    height: 100vh;
    display: flex;
    align-items: flex-end;
    justify-content: center;
    text-align: center;
    color: #fff;
    position: relative;
  }

  .altura{
    height: 550px;
  }
 
  

  #up{
    background: url('/images/madrid.jpeg');
    background-size: cover;
    background-position: center;
  }

  #quever{
    background: url('/images/madridquever.jpeg');
    background-size: cover;
    background-position: center;
  }

  #sobrenosotros{
    background: url('/images/madridsobrenosotros.jpeg');
    background-size: cover;
    background-position: center;
  }

  #comer {
    background: url('/images/madridcomer.jpeg');
    background-size: cover;
    background-position: center;
  }
 
  
  header::before {
    content: '';
    background: url('/images/madrid.jpeg');
    background-size: cover;
    background-position: center;
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0.5; /* Ajusta el nivel de opacidad según tus necesidades */
    z-index: -1;
  }
  .slick-list {
    max-width: 1000px;
  }
 
  .carrusel{
    margin-bottom: 60px;
  }
  ul.slick-dots {
    position: relative;
    
    /* background-color: rgb(31 41 55); */

}

.slick-dots li button {
  background-color: transparent !important;
  border: 4px solid rgb(31 41 55) !important;
}

/* Estilo para los dots activos (cuando están seleccionados) */
.slick-dots li.slick-active button {
  background-color: rgb(31 41 55) !important;
  border-color: transparent !important;
}

  h1 {
    font-size: 2.5rem;
    margin-bottom: 1rem;
  }

  h2 {
    font-size: 1.5rem;
    margin-bottom: 2rem;
  }

  #temp {
    height:40px;
  }
